// Color variables

$color_softblue: hsl(215, 51%, 70%);
$color_cyan: hsl(178, 100%, 50%);
$color_bluemain: hsl(217, 54%, 11%);
$color_bluecard: hsl(216, 50%, 16%);
$color_blueline: hsl(215, 32%, 27%);
$color_white: hsl(0, 0%, 100%);

// Font variables

$font_size: 18px;
$font_family: "Outfit", sans-serif;

// Global CSS Styling

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

// Body Styling

body {
  background: $color_bluemain;
  width: 100%;
  height: 100vh;
  font-size: $font_size;
  font-family: $font_family;
}

// Card and Card Inner Styling

.card {
  width: 18rem;
  height: 32rem;
  background: $color_bluecard;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.card-inner {
  width: 16rem;
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 15rem 15rem;
}

// Image Container image styling

.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.img-container img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-container::after {
  content: url(./images/icon-view.svg);
  background: hsla(178, 100%, 50%, 0.5);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.img-container:hover::after {
  opacity: 1;
}
// Text Styling

.text-container h3 {
  margin-top: 2rem;
  color: $color_white;
  cursor: pointer;
}

// Text Container Active

.text-container h3:hover {
  color: $color_cyan;
}

.text-container p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 1rem;
  color: $color_softblue;
}

.text-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1.5rem;
}

.eth-flex {
  height: 1.2rem;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
  color: $color_cyan;
}

.time-flex {
  height: 1.2rem;
  display: flex;
  align-items: flex-end;
}

.eth-flex img,
.time-flex img {
  margin-right: 5px;
}

.line {
  width: 100%;
  height: 1px;
  background: $color_blueline;
  margin-top: 1.5rem;
}

.img-flex {
  height: 2rem;
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.img-flex img {
  width: 2.5rem;
  margin-right: 15px;
  border: 1px solid $color_white;
  border-radius: 50%;
}

.img-flex p {
  margin-bottom: 1rem;
}

.img-flex span {
  color: $color_white;
  cursor: pointer;
}

// img-flex span active status

.img-flex span:hover {
  color: $color_cyan;
}
